{#extends inherits from the base template#}
{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}My Blog | List{% endblock %}

{% block content %}
    <h1>My Blog</h1>
    {% if tag %}
        <h2>Tag: {{ tag.name }}</h2>
    {% endif %}

    {% for post in posts %}

        <h2>
            <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
            </a>

        </h2>
        <p class="tags">
          Tags:
{# loops through all the tags of a post displaying a custom link to the URL to filter posts by that tag  #}
          {% for tag in post.tags.all %}
{# We build the URL with {% url "blog:post_list_by_tag" tag.slug %}, #}
{# using the name of the URL and the slug tag as its parameter. #}
            <a href="{% url "blog:post_list_by_tag" tag.slug %}">
              {{ tag.name }}
            </a>
{#  separate the tags by commas #}
            {% if not forloop.last %}, {% endif %}
          {% endfor %}
        </p>


        <p class="date">
            Published {{ post.publish }} by {{ post.author }}
        </p>

{#        {{ post.body|truncatewords:30|linebreaks }}#}
        {{ post.body|markdown|truncatewords_html:30 }}

    {% endfor %}
{# The page object that is passed to the template is called **post** #}
    {% include "pagination.html" with page=posts %}


{# for the pagination to work, when using "list view(class based view),"#}
{#  the default page object passed to the template is **page_obj** #}


{#Django's ListView generic view passes the selected page in a variable called page_obj#}
{#        {% include "pagination.html" with page=page_obj %}#}

{% endblock %}